body {
  background-color: #380209;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h1 {
  font-size: 70px;
  padding-bottom: 10px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 17px;
}
h1,
h4,
h5,
li {
  text-transform: uppercase;
}

li {
  font-size: 17px;
  line-height: 35px;
}
p {
  font-size: 20px;
  line-height: 27px;
}
q {
  font-size: 70px;
}
footer {
  padding: 30px 0 50px 0;
}
small {
  opacity: 0.5;
}
a {
  color: white;
}

.header-logo {
  display: block;
  margin: 10px auto;
}
.hero {
  position: relative;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hero-rundweg {
  position: relative;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./media/museum-innenansicht-vitrinen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.hero-rundweg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./media/montanrundweg_fernrohr.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.hero-content {
  position: relative;
  top: 100px;
  right: 290px;
  background-color: rgba(56, 2, 9, 0.5);
  padding: 50px;
  border-radius: 4px;
}
.hero-content-rundweg {
  position: relative;
  top: 100px;
  right: 290px;
  background-color: rgba(53, 63, 21, 0.5);
  padding: 50px;
  border-radius: 4px;
}

.nav-item {
  padding: 0 50px;
}
.banner {
  display: block;
  margin: 10px auto;
  border-radius: 4px;
}
.main-paragraph {
  padding: 40px 50px;
  margin-top: 40px;
}
.card {
  border: none;
  background-color: #380209;
}
.card > div {
  width: 100%;
  height: 100%;
  transition: transform 700ms;
  transition-timing-function: linear;
  transform-style: preserve-3d;
  margin: 0 auto;
  background-color: #380209;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  padding-top: 200px;
  position: absolute;
  text-align: center;
}
.card-front {
  transform: rotateY(0deg);
}
.card-img-top {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.444437149859944) 0%,
    rgba(56, 2, 9, 1) 99%
  );
}
.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0deg);
}

.footer-logo {
  max-width: 10%;
  opacity: 0.5;
  padding-left: 20px;
}
.footer-link {
  text-align: center;
  margin-top: 30px;
}
.map {
  text-align: end;
}
.adresse {
  text-align: start;
}
.besuch-uns {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
}
.placeholder-map {
  border-radius: 4px;
  margin-left: 200px;
}
.impressum p {
  font-size: 14px;
}
.impressum {
  margin: 40px 10px;
}
.rundweg {
  background-color: rgb(53, 63, 21);
}
@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  p,
  q,
  img {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
  q {
    font-size: 32px;
    display: block;
    margin: 0px auto;
    padding: 0 10px;
  }
  img {
    max-width: 100%;
  }
  .hero {
    height: auto;
    width: auto;
    display: block;
  }
  .hero-rundweg {
    height: auto;
    width: auto;
    display: block;
  }
  .hero::before {
    background: none;
    position: static;
  }
  .hero-rundweg::before {
    background: none;
    position: static;
  }
  .hero-content {
    position: static;
    padding: 10px;
  }
  .hero-content-rundweg {
    position: static;
    padding: 10px;
  }
  .main-paragraph {
    margin-top: 10px;
    padding: 10px 30px;
  }
  .besuch-uns {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .placeholder-map {
    margin: 30px auto;
  }
  .footer-logo {
    margin: 0 auto;
    padding-left: 0px;
  }
  .rundweg h1 {
    font-size: 28px;
  }
  .scene {
    height: 500px;
  }
  .card-back {
    padding-top: 100px;
  }
}
